:root{
     --BG-COLOR: #f0f2f5;
     --card-radius: 12px;
     --transition:  0.3s ease;
     --modal-bag: rgba(255,255,255,015);
     --blur: 15px;
     --shadow: 0 8px 30px rgb(0,0,0,0,0.2)
}







*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background: var(--BG-COLOR);
    color: #333;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 24px;
    padding: 40px;
}

.imagen{
    border-radius: var(--card-radius);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: var(--transition), box-shadow var(--transition);
    box-shadow: 0 2px 10x rgb(0,0,0,0.8);
}

.imagen img{
    width: 100%;
    height: auto;
    display: block;
    transition: var(--transition);
}

.imagen:hover img{
    transform: scale(1.05);
}

.imagen::after{
    content: "Ver más";
    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 6px 10px;
    border-radius:  6px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--transition);
}

.imagen:hover::after{
    opacity: 1;
    transform: translateY(0);
}

/*MODAL CSS USANDO CHECKBOX*/
input[type="checkbox"]{
        display: none;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter:  blur(--blur);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition) ;
    z-index: 1000;
    padding: 20px;
}
.modal-content{
    background: var(--blur);
    backdrop-filter: blur(20px);
    border-radius: var(--card-radius);
    padding: 24px;
    max-width: 600px;
    width: 100%;
    max-width: 600px;
    box-shadow: var(--shadow);
    color: white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    animation: fadeln 0.4s ease;
}

.modal-content img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@keyframes fadeln{
    from{
        opacity: 0;
        transform: scale(0.96);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }
}

/*Mostrar Modal cuando el checkbox, se encuentre activo*/
#img1:checked ~ .modal#modal1,
#img2:checked ~ .modal#modal2,
#img3:checked ~ .modal#modal3{
    opacity: 1;
    pointer-events: all;
}

@media(max-whidth:600px){
     .modal-content{
        padding: 16px;
     }

     .modal-content h2{
        font-size: 20px;
     }
}








